<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Alto</string>
	<key>ordering</key>
	<array>
		<string>30EB29BD-4575-473E-8129-FDADE8178086</string>
		<string>21A8AAF9-F595-42C1-9612-36C05682ACB6</string>
		<string>8DD36D17-208B-4E42-8C63-51A9B3D6A50F</string>
	</array>
	<key>uuid</key>
	<string>0D67F5D7-8894-482B-839B-CE3E24D27725</string>
</dict>
</plist>
